version: '3.5'
services:
  ruby:
    image: advent_of_code/ruby:dev
    container_name: advent_of_code_ruby
    volumes:
      - ./../../${year}/${day}:/code/${year}/${day}
      - ./../../script:/script
    working_dir: /code
    entrypoint: sh -c "ruby ${year}/${day}/part0${part}.rb"
